<template>
	<div class="builder-wrapper">
		<div class="builder-items">
			<div v-if="!items.length">Pas encore d'éléments</div>
			<item v-for="(item, index) in items" :item="item" :index="index" :key="'i-'+index" :builder_edit="editmode"></item>
		</div>
		<div class="builder-wrapper-controls">
			<button type="button" class="" @click.prevent="addItem('title')">+ Titre</button>
			<button type="button" class="" @click.prevent="addItem('text')">+ Texte</button>
			<button type="button" class="" @click.prevent="addItem('image')">+ Image</button>
		</div>
	</div>
</template>

<script>
import item from './item.vue';

export default {
	components: { item },
	data() {
		return {
			items: [],
			editmode: false,
		};
	},
	methods: {
		addItem(type) {
			let item = { type: type, value: '', isValid: false };
			this.items.push(item);
			this.item_label = '';
			this.editmode = true;
		},
		removeItem(index) {
			this.items.splice(index, 1);
		},
		moveItem(index, newIndex) {
			let item = this.items.splice(index, 1)[0];
			this.items.splice(newIndex, 0, item);
		},
	},
	mounted() {
		this.$on('item_edited', editmode => {
			this.editmode = editmode;
		});
		this.$on('remove_item', index => {
			this.removeItem(index);
		});
		this.$on('move_item', ({ index, newIndex }) => {
			this.moveItem(index, newIndex);
		});
	},
	watch: {
		items: {
			handler: function(items) {
				this.$emit('input', items);
			},
			deep: true,
		},
	},
};
</script>



<style lang="scss">
.builder-items {
	margin-bottom: 1.5em;
	.builder-item:not(:last-child) {
		margin-bottom: 1.5em;
	}
}
.builder-wrapper-controls {
	display: flex;
	button {
		margin: 0.2em;
	}
}
</style>
