<template>
	<div class="builder-item">

		<div class="builder-item-content" :class="{edited: item_edit}">
			<component :is="'item'+item.type" :item="item" :item_edit="item_edit"></component>

			<div class="builder-item--edition-controls">
				<button @click="edit()" v-if="!item_edit && !builder_edit">Éditer</button>
				<button @click="cancel()" v-if="item_edit">Annuler</button>
				<button @click="save()" v-if="item_edit" :disabled="!item.isValid">Sauvegarder</button>
			</div>
		</div>
		
		<div class="builder-item--position-controls">		
			<button class="pseudo remove fa fa-times" type="button" @click.prevent="removeItem(index)"></button>
			<button class="pseudo fa fa-angle-up" type="button" @click.prevent="setIndex(-1)"></button>
			<button class="pseudo fa fa-angle-down" type="button" @click.prevent="setIndex(+1)"></button>
		</div>
	</div>
</template>

<script>
import itemtitle from './items/title.vue';
import itemtext from './items/text.vue';
import itemimage from './items/image.vue';

export default {
	components: {
		itemtitle,
		itemtext,
		itemimage,
	},
	data() {
		return {
			item_edit: true,
		};
	},
	props: {
		item: Object,
		index: Number,
		builder_edit: Boolean,
	},
	methods: {
		removeItem() {
			this.$parent.$emit('remove_item', this.index);
		},
		setIndex(variation) {
			this.$parent.$emit('move_item', { index: this.index, newIndex: this.index + variation });
		},
		edit() {
			this.item_edit = true;
			this.$parent.$emit('item_edited', this.item_edit);
		},
		save() {
			this.item_edit = false;
			this.$parent.$emit('item_edited', this.item_edit);
		},
		cancel() {
			this.item_edit = false;
			this.$parent.$emit('item_edited', this.item_edit);
		},
	},
};
</script>








<style lang="scss">
.builder-item {
	display: flex;
	flex-direction: row;
	h4 {
		margin-bottom: 0.5em;
	}
	&--position-controls {
		display: flex;
		flex-direction: column;
		margin-top: -0.4em;
		button {
			line-height: 1em;
			margin: 0;
			border-radius: 50%;
			padding: 0;
			width: 1.5em;
			height: 1.5em;
			&.remove {
				margin-bottom: 0.2em;
			}
		}
	}
	&--edition-controls {
		margin-top: 0.5rem;
		display: flex;
		justify-content: flex-end;
		button {
			margin-left: 0.5rem;
		}
	}
}
.builder-item-content {
	border-radius: 0.3em;
	padding: 1em;
	width: 100%;
	margin-right: 0.3em;
	&.edited {
		background: #ccc;
	}
}
</style>
