
<template>
	<div class="builder-block--image">
		<h4>Élement image</h4>
		<div class="file-upload-form" v-show="!hasImageData">
			<label class="button mainButton">
				<span>Choisir une image</span>
				<input type="file" class="hiddenInput" @change="onChange" accept="image/*">
			</label>
		</div>
		<div class="image-preview" v-show="hasImageData">
			<img class="preview" :src="item.value.image">
		</div>
		<div>
			<button type="button" @click.prevent="clearImage" v-show="hasImageData">Supprimer</button>
		</div>
	</div>
</template>



<script>
export default {
	data() {
		return {
			data: {
				path: '',
				image: '',
			},
		};
	},
	props: {
		item: {
			type: Object,
			default: {},
		},
	},
	computed: {
		hasImageData() {
			return this.item.value && this.item.value.image.length > 0;
		},
	},
	methods: {
		previewImage: function(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = e => {
					this.data.image = e.target.result;
					this.data.path = e.target.value;
				};
				reader.readAsDataURL(input.files[0]);
			}
		},
		onChange(event) {
			this.previewImage(event.target);
			this.update();
		},
		update() {
			let data = Object.assign(this.item, { value: this.data });
			this.$emit('input', data);
		},
		clearImage() {
			this.data.image = '';
			this.data.path = '';
			this.update();
		},
	},
};
</script>


<style lang="scss">
.image-preview {
	img {
		max-width: 100%;
	}
}
</style>
