<template>
	<div class="builder-block--textarea">
		<h4>Élement texte</h4>
		<textarea rows="7" @input="onInput" :value="item.value"></textarea>
	</div>
</template>

<script>
export default {
	props: {
		item: {
			type: Object,
			default: {},
		},
	},
	methods: {
		onInput(e) {
			let data = Object.assign(this.item, { value: e.target.value });
			this.$emit('input', data);
		},
	},
};
</script>
