<template>
	<div class="builder-block--title">

		<div ref="interface" v-if="item_edit">
			<input type="text" @input="onInput" v-model="title">
		</div>

		<div ref="preview" v-else>
			<div v-if="item.value">
				<h1>{{item.value}}</h1>
			</div>
			<div v-else class="discret">
				<i>Pas de contenu</i>
			</div>
		</div>

	</div>
</template>

<script>
export default {
	data() {
		return {
			title: '',
		};
	},
	props: {
		item: {
			type: Object,
			default: {},
		},
		item_edit: Boolean,
	},
	computed: {
		isValid() {
			return this.title.length ? true : false;
		},
	},
	methods: {
		onInput(e) {
			let data = Object.assign(this.item, { value: this.title, isValid: this.isValid });
			this.$emit('input', data);
		},
	},
};
</script>
